<h2>Create Dashboard:</h2>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="email" class="form-control" id="exampleFormControlInput1">
  </div>
<br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Content of the Post</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Upload New Post</button>
</form>

