<h1>This is Home Page</h1>
<body>
  <div class="card" style="width: 18rem;">
    
  <div class="card-body">
    <h4 id='title1',class="card-title">How to become a website developer</h4>

    <p id='content1' ,class="card-text">
      It is important to learn HTML5,CSS and Javascript before becoming a developer.
    Besides, you need to learn the node and API
    </p>

    <h6 id="user_name1">Paul Johnson</h6>
    <h6 id="date1">15/01/2023</h6>
  </div>
</div>
