<h1>This is Home Page</h1>
<body>
  <div class="card" style="width: 18rem;">

  <div class="card-body">
    <h4 id='title1',class="card-title">Card title</h4>
    <p id='content1' ,class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <h6 id="user_name1">Paul</h6>
    <h6 id="date1">15/01/2023</h6>
  </div>
</div>
